<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1075134018620-n66kpitagcd8cl3cd39camh2nchde13h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1075134018620-n66kpitagcd8cl3cd39camh2nchde13h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1075134018620-29utd8725u4861h6f48bhn07qr50krdj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDcl2jp2LbfdnczTZm1r_azsWTNcKkjvRE</string>
	<key>GCM_SENDER_ID</key>
	<string>1075134018620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.logisfleet.wasteporter</string>
	<key>PROJECT_ID</key>
	<string>wtms-2ce51</string>
	<key>STORAGE_BUCKET</key>
	<string>wtms-2ce51.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1075134018620:ios:6e3378853eacc6ec44ff39</string>
	<key>DATABASE_URL</key>
	<string>https://wtms-2ce51.firebaseio.com</string>
</dict>
</plist>